// Styling for the navbar
#mainNav {
  //font-weight: 700;
  border: none;
  background: $theme-primary;
  opacity: 0.9;
  a:focus {
    outline: none;
  }
  .navbar-brand {
    font-size: 1.1rem;
    color: $theme-light;
    padding: 0;
    line-height: 1em;
    &.active,
    &:active,
    &:focus,
    &:hover {
      color: $theme-light;
    }
    &>.img.img-glow {
      height: 50px;
      margin-right: 20px;
    }
  }
  .navbar-nav {
    letter-spacing: 1px;
    li.nav-item {
      position: relative;
      display: flex;
      align-items: center;
      color: $theme-light;
      max-height: 64px;
      &>a.nav-link {
        text-align: center;
        vertical-align: middle;
        display: inline-block;
        color: inherit;
        white-space: pre;
        padding-left: 5px;
        padding-right: 5px;
        font-size: 0.9em;
      }
    }
  }
  .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    text-transform: uppercase;
    color: $theme-light;
    border-color: $theme-light;
    &:focus,
    &:hover {
      color: $theme-primary;
      border-color: $theme-success;
      background-color: $theme-success;
    }
  }
}
@media(min-width:992px) {
  #mainNav {
    padding-top: 15px;
    padding-bottom: 15px;
    -webkit-transition: padding-top 0.3s, padding-bottom 0.3s;
    -moz-transition: padding-top 0.3s, padding-bottom 0.3s;
    transition: padding-top 0.3s, padding-bottom 0.3s;
    .navbar-brand {
      font-size: 2em;
      -webkit-transition: all 0.3s;
      -moz-transition: all 0.3s;
      transition: all 0.3s;
      padding: 0;
      &>.img.img-glow {
        height: 64px;
        margin-right: 20px;
      }
    }
    .navbar-nav {
      li.nav-item > a.nav-link {
        white-space: pre-wrap;
        line-height: 1em;
      }

      li.nav-item::before,
      li.nav-item::after {
        display: inline-block;
        opacity: 0;
        -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
        -moz-transition: -moz-transform 0.3s, opacity 0.2s;
        transition: transform 0.3s, opacity 0.2s;
      }

      li.nav-item::before {
        margin-right: 5px;
        content: '•';
        font-size: 2em;
        -webkit-transform: translateX(20px);
        -moz-transform: translateX(20px);
        transform: translateX(20px);
      }

      li.nav-item::after {
        margin-left: 5px;
        content: '•';
        font-size: 2em;
        -webkit-transform: translateX(-20px);
        -moz-transform: translateX(-20px);
        transform: translateX(-20px);
      }

      li.nav-item:not(.auth-control):hover::before,
      li.nav-item:not(.auth-control):hover::after,
      li.nav-item:not(.auth-control):focus::before,
      li.nav-item:not(.auth-control):focus::after,
      li.nav-item:not(.auth-control).active::before,
      li.nav-item:not(.auth-control).active::after {
        opacity: 1;
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        transform: translateX(0px);
      }
    }
    .navbar-nav > li.nav-item > a.nav-link.active {
      color: white;
      border-radius: 3px;
      background: $theme-success;
      &:active,
      &:focus,
      &:hover {
        color: white;
        background: $theme-success;
      }
    }
  }
  #mainNav.navbar-shrink {
    padding-top: 0;
    padding-bottom:0;
    .navbar-brand {
      font-size: 1.5em;
    }
  }
}
