section.booking(tjsMaterialize)
  h3.center('*ngIf'='view !== "room"') {{ viewDate | calendarDate:(view + 'ViewTitle'):'ru' }}
  h4.center('*ngIf'='view === "day"') {{ selectedRoom.name }} ({{ selectedRoom.square }} кв.м., {{ selectedRoom.capacity }} чел.)
  .row
    .col-xs-1
      .nav-button.prev-month(
        'mwlCalendarPreviousView'
        '[view]'='view',
        '[(viewDate)]'='viewDate'
        '(click)'='loadBookings()'
        '*ngIf'='view === "month"'
      )
      .nav-button.prev-month(
        '(click)'='view="month"'
        '*ngIf'='view === "room"'
      )
      .nav-button.prev-month(
        '(click)'='view="room"'
        '*ngIf'='view === "day"'
      )
    .col-xs-10.background-white
      div('[ngSwitch]'='view')
        mwl-calendar-month-view(
          *ngSwitchCase="'month'"
          '[viewDate]'='viewDate'
          '[events]'='events'
          '[locale]'='"ru"'
          '[weekStartsOn]'='weekStartsOn'
          '[dayModifier]'='dayModifier'
          '(dayClicked)'='daySelect($event.day.date)'
        )
        .row.rv-bg-malahit-important(*ngSwitchCase='"room"')
          div(
            '*ngFor'='let room of rooms'
            class='col-xs-{{roomCols}} pointer room'
            '(click)'='selectRoom(room)'
          )
            img(
              '[src]'='room.image'
            )
            span.title-wrp
              span.title {{ room.name }}
              span.description
                | Площадь: {{ room.square }} кв.м.
              span.description
                | Количество человек: {{ room.capacity }}
              span.description(
                '[innerHTML]'='room.description'
              )
        mwl-calendar-day-view(
          *ngSwitchCase='"day"'
          '[viewDate]'='viewDate'
          '[events]'='dayEvents'
          '[locale]'='"ru"'
          '[dayStartHour]'='startHours'
          '[dayEndHour]'='endHours'
          '(hourSegmentClicked)'='timeSelect($event)'
          '(eventClicked)'='eventClicked($event)'
          '(mouseenter)'='disableScroll()'
          '(mouseleave)'='enableScroll()'
        )
    .col-xs-1
      .nav-button.next-month(
        'mwlCalendarNextView'
        '[view]'='view',
        '[(viewDate)]'='viewDate'
        '(click)'='loadBookings()'
        '*ngIf'='view === "month"'
      )
  .row
