section.admin-rooms(tjsMaterialize)
  ag-grid-angular.ag-material.data-grid(
    '[rowData]'='rooms'
    '[gridOptions]'='gridOptions'
    '(gridReady)'='onGridReady($event)'
    '(rowClicked)'='onRowClicked($event)'
  )
  .row.center
    .col-xs.center
      ngb-pagination.center(
        '[collectionSize]'='rooms?.length'
        '[(page)]'="page"
        '[pageSize]'='4'
        '(pageChange)'='pageChanged(page)'
      )
  .add-button
    button.btn.btn-success.btn-raised(
      role='button'
      '(click)'='addRoom()'
    )
      i.fa.fa-plus
      | &nbsp;
      | Добавить
