section.admin-rooms(tjsMaterialize)
  ag-grid-angular.ag-material.data-grid(
    '[rowData]'='rooms'
    '[gridOptions]'='gridOptions'
    '(gridReady)'='onGridReady($event)'
    '(rowClicked)'='onRowClicked($event)'
  )
  ngb-pagination.center.d-flex.justify-content-center(
    '[collectionSize]'='rooms?.length'
    '[(page)]'="page"
    '[pageSize]'='4'
    '(pageChange)'='pageChanged(page)'
  )
  .add-button
    button.btn.btn-success.btn-raised(
      role='button'
      '(click)'='addRoom()'
    )
      i.fa.fa-plus
      | &nbsp;
      | Добавить
