.foreigns {
  blockquote {
    border-left: 0.25rem solid #03a9f4;
    background: #fff;
    max-height: 620px;
    overflow-y: auto;
  }
  .card {
    background-color: transparent;
    box-shadow: none;
    border: 0;
    &>.img-wrapper {
      text-align: center;
      height: 125px;
      &>img {
        width: 100px;
        height: 100px;
      }
    }
  }
  img {
    width: auto !important;
  }
  .modal-dialog {
    max-width: 100%;
  }
  .add-button {
    text-align: center;
    margin-top: 20px;
  }
}
