.events {
  margin: 0 10px;
  blockquote {
    border-left: 0.25rem solid #F36523;
    background: #fff;
    overflow-y: auto;
    margin-left: 10px;
  }
  .card {
    background-color: transparent;
    box-shadow: none;
    border: 0;
    &>.img-wrapper {
      text-align: center;
      height: 125px;
      &>img {
        width: 100px;
        height: 100px;
      }
    }
  }
  img {
    width: auto !important;
  }
}
