$tjs-light: #C4A27D;
$tjs-dark: #023320;
.booking {
  .nav-button {
    -webkit-user-select: none;
    -moz-user-select: none;
    -khtml-user-select: none;
    -ms-user-select: none;
    position: absolute;
    z-index: 4;
    top: 50%;
    cursor: pointer;
    width: 0;
    height: 0;
    border-style: solid;
    margin-top: -38px;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }
  .prev-month {
    left: 15px;
    width: 0;
    border-width: 38.5px 34px 38.5px 0;
    border-color: transparent #000 transparent transparent;
  }
  .next-month {
    right: 15px;
    border-width: 38.5px 0 38.5px 34px;
    border-color: transparent transparent transparent #000;
  }
  img {
    max-width: 100%;
  }
  .room {
    padding: 1px !important;
    display: block;
    float: left;
    position: relative;
    text-decoration: none !important;
    overflow: hidden;
    background-size: cover;
    background-position: 50% 50%;
  }
  .room * {
    transition: all .15s ease-out;
  }
  .room:before {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
    top: 40%;
    right: 0;
    bottom: 0;
    left: 0;
    background: -moz-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.97) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(0, 0, 0, 0)), color-stop(100%, rgba(0, 0, 0, 0.97)));
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.97) 100%);
    background: -o-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.97) 100%);
    background: -ms-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.97) 100%);
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.97) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#77000000', GradientType=0);
  }
  .room:after {
    content: " ";
    display: block;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 2;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    transition: all linear 0.2s;
  }
  .room:hover:after {
    background: rgba(2, 51, 32, 0.7);
  }
  .room .title-wrp {
    position: absolute;
    z-index: 3;
    left: 0;
    right: 0;
    top: 75%;
    padding: 0 15px 15px 15px;
    color: #fff;
    text-shadow: 1px 1px 1px #333;
    font-size: 1em;
  }
  .room:hover .title-wrp {
    bottom: 0;
    top: auto;
  }
  .room .title {
    display: block;
    font-size: 1.2em;
    font-weight: bold;
    color: #fff;
    margin: 0 0 7px 0
  }
  .room .title-wrp .description {
    margin-right: 10px;
    display: block;
  }
}

.cal-disabled {
  background-color: #eee !important;
  pointer-events: none !important;
}

.cal-disabled .cal-day-number {
  opacity: 0.1 !important;
}

.cal-event-container {
  width: 100% !important;
  padding-right: 70px;
}

.cal-hour-rows {
  overflow-x: hidden !important;
}

.cal-days {
  margin-bottom: 20px;
}

.cal-day-view {
  overflow-y: auto;
  margin-bottom: 20px;

  @media screen and ( max-height: 1200px) {
    height: 721px;
  }

  @media screen and ( max-height: 1000px) {
    height: 400px;
  }
}

.cal-event-title {
  font-size: 16px;
  color: $tjs-dark;
}

.cal-event-action {
  font-size: 20px;
  color: red;
  float: right;
}

.background-white {
  background-color: white;
}

.booked-time {
  background: repeating-linear-gradient(
    45deg,
    #fff,
    #fff 15px,
    $tjs-dark 15px,
    $tjs-dark 30px
  );

  // background-color: #9B9B9B !important;
  color: #9B9B9B !important;
  pointer-events: none !important;
  border: none !important;
  border-radius: 0 !important;

  & > * {
    display: none;
  }
}
