section.admin-feedbacks(tjsMaterialize)
  ag-grid-angular.ag-material.data-grid(
    '[rowData]'='feedbacks'
    '[gridOptions]'='gridOptions'
    '(gridReady)'='onGridReady($event)'
    '(rowClicked)'='onRowClicked($event)'
  )
  ngb-pagination.center.d-flex.justify-content-center(
    '[collectionSize]'='feedbacks?.length'
    '[(page)]'="page"
    '(pageChange)'='pageChanged(page)'
  )
