section.admin-feedbacks(tjsMaterialize)
  ag-grid-angular.ag-material.data-grid(
    '[rowData]'='feedbacks'
    '[gridOptions]'='gridOptions'
    '(gridReady)'='onGridReady($event)'
    '(rowClicked)'='onRowClicked($event)'
  )
  .row.center
    .col-xs.center
      ngb-pagination.center(
        '[collectionSize]'='feedbacks?.length'
        '[(page)]'="page"
        '(pageChange)'='pageChanged(page)'
      )